<div class="container" background-color="#FFF">
  <div class="row justify-content-end align-items-center">
    <div>
      <%= link_to 'host your vvvenue', new_venue_path, method: :get %><!--  link here needs to be changed -->
    </div>
    <div class="mx-3">
      <%= cl_image_tag("danielle-the-bartender_uc7vck", :cloud_name => 'danielcastro',
        radius: 25, width: 50, height: 50, crop: :thumb, gravity: :face) %>
    </div>
    <div>
      <%= link_to 'sign out', destroy_user_session_path, method: :delete  %>
    </div>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <%= cl_image_tag("logo_spqr_laurel_", :cloud_name => 'danielcastro', width: 300) %>
      </div>
      <div class="col">
        <h1>VENUE.VIDI.VICI</h1>
        <div class=“topnav”>
          <%= simple_form_for :search, url: venues_path , method: :get do |f| %>
            <%= f.input :query, label: 'Where do you want to host?', wrapper_html: { class: 'username' }, placeholder: 'type a place', autofocus: true %>
            <%= f.submit "Search" %>
          <% end %>
        </div>

        <!-- we have this option below, that is a HTML form insted of simple_form! Andre did it -->

          <!-- <div class="“topnav”">
            <form novalidate="novalidate" class="simple_form search" action="/venues" accept-charset="UTF-8" method="get">
              <input name="utf8" type="hidden" value="✓">
              <div class="form-group string required search_query username">
                <label class="string required" for="search_query">Where do you want to host? <abbr title="required">*</abbr></label>
                <input class="form-control string required" autofocus="autofocus" placeholder="type a place" type="text" name="search" id="search_query">
              </div>
              <input type="submit" name="commit" value="Search" data-disable-with="Search">
            </form>
           </div> -->

        <!-- finishes here -->
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
