<div class="container">
    <div class="sidenav">
      <%= link_to cl_image_tag("logo_spqr_laurel_bg", :cloud_name => 'danielcastro', width: 100), root_path %>
      <%= link_to 'search', root_path %>
      <a href="venues/my_own">dashboard</a> <!-- needs a change here -->
      <% if current_user %>
        <%= link_to 'rent your vvvenue', new_venue_path, method: :get %>
        <%= link_to "My bookings", bookings_path %>
      <% else %>
        <%= link_to 'rent your vvvenue', new_user_session_path, method: :get %>
        <%= link_to "My bookings", new_user_session_path %>
      <% end %>
  </div>
</div>
