<%= render "sidenav"%>

<div class="main">

<!-- <div class="d-flex justify-content-between">...</div> -->

  <% if params[:search][:query] == "" %>
    <h1><%= "All Locations" %></h1>
    <p>Here are all available vvvenues</p>
  <% else %>
    <h1><%= params[:search][:query].capitalize %></h1>
    <p>Here are all the vvvenues for "<%= params[:search][:query].capitalize %>"</p>
  <% end %>
  <div class="container d-flex align-items-center">
    <div class="row">
      <% @venues.each do |venue| %>
        <div class="col-4">
          <div class="card p-3">
            <div>
              <% if venue.imgurl %>
                <%= cl_image_tag(venue.imgurl, class: 'img-fluid', :cloud_name => 'danielcastro', :height=>200, :width=>400, :crop=>"fill") %>
              <% else %>
                <%= image_tag "padeacucar-img.png", :height=>200, :width=>400, :crop=>"fill" %>
              <% end %>
              <h5 class="px-3"><%= venue.title %></h5>
              <div class="d-flex">
                <div class="col pl-3">
                  <h5><%= link_to'know more', venue %></h5>
                </div>
                <div class="col" style="text-align: right;">
                  <p><%= venue.price %>€ / per day</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-5">
    <%= link_to 'Go back', root_path, class: 'btn btn-primary'  %>
  </div>
</div>
