<div class="container">
  <div class="sidenav">
    <%= cl_image_tag("logo_spqr_laurel_bg", :cloud_name => 'danielcastro', width: 100) %>
    <a href="#">search</a>
    <a href="#">dashboard</a>
    <a href="#">host your vvvenue</a>
  </div>
</div>

<div class="main">

<h1>Paris</h1>
<p>here are all the vvvenues for "Paris"</p>

  <div class="container d-flex align-items-center">
   <div class="col">
      <div class="card" style="width:200px">
        <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image"> -->
        <div>
        <!-- <a href="#" class="stretched-link"></a> -->
          <%= cl_image_tag("poolindoor_crujji", :cloud_name => 'danielcastro', :height=>200, :width=>200, :crop=>"fill") %>
          <h5 class="card-title pl-3">Poolindoor
          <br>
          <%= link_to'know more', venue_path(:id) %></h5>
          <p>920€</p>
          <!-- <a href="#" class="btn btn-primary">See VVVenue Description</a> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:200px">
        <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image"> -->
        <div>
        <!-- <a href="#" class="stretched-link"></a> -->
          <%= cl_image_tag("street_festival_syipf1", :cloud_name => 'danielcastro', :height=>200, :width=>200, :crop=>"fill") %>
          <h5 class="card-title pl-3">Street Festival
          <br>
          <%= link_to 'know more', venue_path(2) %></h5>
          <p>800€</p>
          <!-- <a href="#" class="btn btn-primary">See VVVenue Description</a> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width:200px">
        <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image"> -->
        <div>
        <!-- <a href="#" class="stretched-link"></a> -->
          <%= cl_image_tag("elegant_vligti", :cloud_name => 'danielcastro', :height=>200, :width=>200, :crop=>"fill") %>
          <h5 class="card-title pl-3">Elegant Party
          <br>
          <%= link_to 'know more', venue_path(:id) %></h5>
          <p>650€</p>
          <!-- <a href="#" class="btn btn-primary">See VVVenue Description</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <%= link_to 'Go back', root_path, class: 'btn btn-primary'  %>
  </div>
</div>
