<%= render "sidenav"%>

<div class="main">

<% if params[:search][:query] == "" %>
  <h1><%= "All Locations" %></h1>
  <p>Here are all available vvvenues</p>
<% else %>
  <h1><%= params[:search][:query] %></h1>
  <p>Here are all the vvvenues for "<%= params[:search][:query] %>"</p>
<% end %>

  <div class="container d-flex align-items-center">
    <div class="row">
      <% @venues.each do |venue| %>
        <div class="col-4">
          <div class="card">
            <div>
              <% if venue.image %>
                <%= cl_image_tag(venue.image, class: 'img-fluid', :cloud_name => 'danielcastro', :height=>200, :width=>400, :crop=>"fill") %>
              <% else %>
                <%= cl_image_tag("https://www.paodeacucar.com/img/uploads/1/7/607007.png?type=product", class: 'img-fluid', :cloud_name => 'danielcastro', :height=>200, :width=>400, :crop=>"fill") %>
              <% end %>
              <h5 class="card-title pl-3"><%= venue.title %>
              <br>
              <%= link_to'know more', venue %></h5>
              <p><%= venue.price %>€</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="mt-5">
    <%= link_to 'Go back', root_path, class: 'btn btn-primary'  %>
  </div>
</div>
