
<%= render "venues/sidenav" %>
<%= render "venues/topnav"%>

<div class="main">
  <div class="d-flex">
   <div class="col">
    <br></br>
        <h3>Book your Venue here!</h3>
    <br></br>
      <div class="card" style="width:200px">
        <div>
          <%= cl_image_tag(@venue.imgurl, cloud_name: 'danielcastro', width: 400, crop: "fill") %>
        </div>
      </div>
    </div>
    <div class="col">
    <br></br>
    <br></br>
    <br></br>
        <div>
          <h5><%= @venue.title %></h5>
          <br>
          <p><%= @venue.description %></p>
          <p class="paragraph"><%= @venue.price %>€ / day</p>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="justify-content-center" style="width:500px">
      <%= render "bookings/form", venue: @venue, booking: @booking %> <!-- THIS IS THE FORM FOR BOOKINGS NEW -->
    </div>
  </div>
  <div class="mt-5">
    <%= link_to 'Go back', venues_path(:search => {query: ""}), class: 'btn btn-primary' %>
    <%# link_to 'Go back', venues_path(:search => {query: @venue.place}), class: 'btn btn-primary' %>
  </div>



</div>
